.colorFilter {
    background: #ebcc6e;
}
.tamañoLetra {
    font-size: 4rem;
}
.inputs {
    border: none;
    outline: none;
    color: #457d97;
    font-weight: bold;
}
.nacionalidad {
    width: 25%;
    color: #457d97;
}
.edad {
    width: 23%;
    color: #457d97;
}
.margen {
    margin-right: 4rem;
}
.boton {
    border: none;
    height: 43px;
    width: 30%;
    border-radius: 10px;
    color: #457d97;
}
.form {
    border-radius: 10px;
}
.destinos {
    gap: 1.3rem;
}


@media (max-width: 992px) {
    .filter992px {
        width: 80% !important;
    }
}

@media (max-width: 767px) {
    .filter992px {
        width: 100% !important;
    }
}

@media (max-width: 650px) {
    .form {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .nacionalidad {
        margin: 0 !important;
        padding-left: 10px;
        width: 90%;
    }
    .edad {
        padding-left: 10px;
        width: 90%;
    }
    .boton {
        margin-top: 10px;
        margin-left: 10px;
        width: 90%;
    }
}